body {
  background-image: url("../assets/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
  color: white;
}

.hero .left-content {
  width: 50%;
  text-align: left;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #00BFFF;
  font-weight: bold;
}

.hero h2 span {
  color: white;
  font-weight: normal;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.additional {
  margin-top: 2rem;
  width: 80%;
}

.additional h3 {
  font-size: 1.5rem;
  color: #00BFFF;
  margin-bottom: 0.5rem;
}

.additional p {
  font-size: 1rem;
  color: white;
  line-height: 1.5;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: #c0cbe0;
  font-size: 0.9rem;
  background: rgba(2, 0, 34, 0.6);
  padding: 0.3rem 1rem;
  border-radius: 8px;
  white-space: nowrap;
}
